        <footer>
            <nav>
                <ul>
                    <li><a href="https://ryanshz.github.io/" target="_blank" rel="noopener noreferrer">&copy;ryanshz</a></li>
                    <li><a href="https://validator.w3.org/check?uri=referer" target="_blank" id="validation_link_html">validate html</a></li>
                    <li><a href="https://jigsaw.w3.org/css-validator/check/referer" target="_blank" id="validation_link_css">validate css</a></li>
                </ul>
                <ul>
                    <li><a href="#" target="_blank" rel="noopener noreferrer">social</a></li>
                    <li><a href="#" target="_blank" rel="noopener noreferrer">social</a></li>
                    <li><a href="#" target="_blank" rel="noopener noreferrer">social</a></li>
                </ul>
            </nav>
        </footer>
    <script src="../js/validate.js"></script>
    </body>
</html>