<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../images/favicon/favicon-16x16.png">
    <link rel="manifest" href="../../images/favicon/site.webmanifest">
    <link rel="stylesheet" href="/css/style.css">
    <title>severus slices</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/"><h1>severus slices</h1></a></li>
            </ul>
            <ul>
                <li>
                    <form method="GET" action="/items/search">
                        <input type="search" name="search" placeholder="search here" class="search">
                    </form>
                </li>
                <li>|</li>
                <li><a href="/items">browse</a></li>
                <li><a href="/new">sell</a></li>
                <li>|</li>
                <li><a href="/users/login">login</a></li>
                <li><a href="/users/signup">signup</a></li>
                <li><a href="/users/profile">profile</a></li>
                <li><a href="/users/logout">logout</a></li>
            </ul>
        </nav>
    </header>

    <% if(errorMessages.length > 0){
            errorMessages.forEach(message => { %>
                <div class="error"><%= message %></div>
            <% });
    } %>

    <% if(successMessages.length > 0){
        successMessages.forEach(message => { %>
            <div class="success"><%= message %></div>
        <% });
} %>