<%- include('partials/header.ejs') %>
    <main style="display:flex;">
        <section>
            <figure style="text-align:center">
                <img src="/images/error.png" alt="404 error">
                <div>
                    <h1>ERROR <%= error.status %></h2>
                    <p><%= error.message %></p>
                </div>
            </figure>
        </section>
    </main>
<%- include('partials/footer.ejs') %>