<%- include('partials/header.ejs') %>
    <main>
        <section>
            <figure>
                <img src="../../images/thedininghall.jpg" alt="A phalanx in front of a row of pizzas.">
                <figcaption>our buffet during the second Punic War.</figcaption>
            </figure>
            <figure>
                <img src="../../images/indoorpillage.jpg" alt="Roman soldiers running around inside of a domino's">
                <figcaption>the interior of a local Domino's pillage.</figcaption>
            </figure>
            <div>
                <h2>greatest pizza in the roman empire</h2>
                <p>severus slices offers good, quality pizza for a low price.</p>
                <p>check out our shop page to see our current offers.</p>
                <br>
                <h2>about our pizza</h2>
                <p>our pizza is hand-crafted by the best artisans in the entire empire.</p>
                <p>it's been approved by multiple emperors since it's founding in 195.</p>
            </div>
        </section>
        <section>
            <h2 id="quotes">quotes from our favorite emperors</h2>
        </section>
        <section>
            <figure>
                <img src="../../images/caesar.jpg" alt="A drawing of Julius Caesar">
                <blockquote class="emperor">i love this pizza. it's incredible</blockquote>
                <figcaption>-- julius caesar</figcaption>
            </figure>
            <figure>
                <img src="../../images/aurelius.jpg" alt="A stone bust of Marcus Aurelius">
                <blockquote class="emperor">i achieved my philosophy goals with a slice.</blockquote>
                <figcaption>-- marcus aurelius</figcaption>
            </figure>
            <figure>
                <img src="../../images/agustus.png" alt="A stone bust of Caesar Agustus">
                <blockquote class="emperor">this pizza helped me found rome</blockquote>
                <figcaption>-- caesar agustus</figcaption>
            </figure>
        </section>
        <section>
            <figure>
                <img src="../../images/dominopillage.png" alt="Domino's pizza being attacked by roman soldiers">
                <figcaption>our legions conquering a local domino's pizza.</figcaption>
            </figure>
            <div>
                <h2>contact us</h2>
                <p>feel free to order our pizzas through the browse page.</p>
                <p>also provide us with good pizza ideas on the sell page.</p>
                <p>you can order and contact us at:</p>
                <span id="pizza" class="fancy">1-800-PIZZA</span> <sub id="realnumber">(not a real number)</sub>
            </div>
        </section>
    </main>
<%- include('partials/footer.ejs') %>