<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../images/favicon/favicon-16x16.png">
    <link rel="manifest" href="../../images/favicon/site.webmanifest">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>severus slices</title>
</head>
<!--landing page-->
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html"><h1>severus slices</h1></a></li>
            </ul>
            <ul>
                <li><input type="search" name="searchbox" placeholder="search here" class="search"></li>
                <li>|</li>
                <li><a href="items.html">browse</a></li>
                <li><a href="new.html">sell</a></li>
                <li>|</li>
                <li><a href="#">login</a></li>
                <li><a href="#">signup</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <figure>
                <img src="../../images/thedininghall.jpg" alt="A phalanx in front of a row of pizzas.">
                <figcaption>our buffet during the second Punic War.</figcaption>
            </figure>
            <figure>
                <img src="../../images/indoorpillage.jpg" alt="Roman soldiers running around inside of a domino's">
                <figcaption>the interior of a local Domino's pillage.</figcaption>
            </figure>
            <div>
                <h2>greatest pizza in the roman empire</h2>
                <p>severus slices offers good, quality pizza for a low price.</p>
                <p>check out our shop page to see our current offers.</p>
                <br>
                <h2>about our pizza</h2>
                <p>our pizza is hand-crafted by the best artisans in the entire empire.</p>
                <p>it's been approved by multiple emperors since it's founding in 195.</p>
            </div>
        </section>
        <section>
            <h2 id="quotes">quotes from our favorite emperors</h2>
        </section>
        <section>
            <figure>
                <img src="../../images/caesar.jpg" alt="A drawing of Julius Caesar">
                <blockquote class="emperor">i love this pizza. it's incredible</blockquote>
                <figcaption>-- julius caesar</figcaption>
            </figure>
            <figure>
                <img src="../../images/aurelius.jpg" alt="A stone bust of Marcus Aurelius">
                <blockquote class="emperor">i achieved my philosophy goals with a slice.</blockquote>
                <figcaption>-- marcus aurelius</figcaption>
            </figure>
            <figure>
                <img src="../../images/agustus.png" alt="A stone bust of Caesar Agustus">
                <blockquote class="emperor">this pizza helped me found rome</blockquote>
                <figcaption>-- caesar agustus</figcaption>
            </figure>
        </section>
        <section>
            <figure>
                <img src="../../images/dominopillage.png" alt="Domino's pizza being attacked by roman soldiers">
                <figcaption>our legions conquering a local domino's pizza.</figcaption>
            </figure>
            <div>
                <h2>contact us</h2>
                <p>feel free to order our pizzas through the browse page.</p>
                <p>also provide us with good pizza ideas on the sell page.</p>
                <p>you can order and contact us at:</p>
                <span id="pizza" class="fancy">1-800-PIZZA</span> <sub id="realnumber">(not a real number)</sub>
            </div>
        </section>
    </main>
    <footer>
        <nav>
            <ul>
                <li><a href="https://ryanshz.github.io/" target="_blank" rel="noopener noreferrer">&copy;ryanshz</a></li>
                <li><a href="https://validator.w3.org/check?uri=referer" target="_blank" id="validation_link_html">validate html</a></li>
                <li><a href="https://jigsaw.w3.org/css-validator/check/referer" target="_blank" id="validation_link_css">validate css</a></li>
            </ul>
            <ul>
                <li><a href="#" target="_blank" rel="noopener noreferrer">social</a></li>
                <li><a href="#" target="_blank" rel="noopener noreferrer">social</a></li>
                <li><a href="#" target="_blank" rel="noopener noreferrer">social</a></li>
            </ul>
        </nav>
    </footer>
    <script src="../js/validate.js"></script>
</body>
</html>