<%- include('partials/header.ejs') %>
    <section>
        <div>
            <h2>shop</h2>
            <p>severus slices offers many different kinds of pizzas, as well as deals on special events as well.
                we provide conquering services, in addition to a multitude of banquets. we also offer a bath of pizza.</p>
            <sub>note: breadsticks not included with any of our purchases.</sub>
        </div>
    </section>
    <main id="items">
        <a href="item.html" class="shop">
            <section class="vertical">
                <figure>
                    <img src="../../images/pizzabanquet.JPG" alt="Roman soldiers eating pizzas in a dining hall.">
                    <figcaption>perfect condition</figcaption>
                </figure>
                <div>
                    <h2>The Roman Pizza Banquet</h2>
                    <p>$1000.00</p>
                    <p>The Roman Empire</p>
                    <p>3 offers</p>
                </div>
            </section>
        </a>
        <a href="item.html" class="shop">
            <section class="vertical">
                <figure>
                    <img src="../../images/pizzabath.JPG" alt="A roman soldier bathing in pizza.">
                    <figcaption>good condition</figcaption>
                </figure>
                <div>
                    <h2>The Bath of Pizza</h2>
                    <p>$300.00</p>
                    <p>Emperor Nero</p>
                    <p>0 offers</p>
                </div>
            </section>
        </a>
        <a href="item.html" class="shop">
            <section class="vertical">
                <figure>
                    <img src="../../images/freeconquest.JPG" alt="Roman soldiers conquering a local Domino's.">
                    <figcaption>poor condition</figcaption>
                </figure>
                <div>
                    <h2>Free Conquest</h2>
                    <p>Free with any purchase</p>
                    <p>The Third Gallica</p>
                    <p>6 offers</p>
                </div>
            </section>
        </a>
        <a href="item.html" class="shop">
            <section class="vertical">
                <figure>
                    <img src="../../images/pizzahit.jpg" alt="A shirtless man, and a man with a hood holding a pizza.">
                    <figcaption>great condition</figcaption>
                </figure>
                <div>
                    <h2>Pizza Hit</h2>
                    <p>Negotiable</p>
                    <p>Cicero Caesar</p>
                    <p>1 offer</p>
                </div>
            </section>
        </a>
        <a href="item.html" class="shop">
            <section class="vertical">
                <figure>
                    <img src="../../images/facelesspie.jpg" alt="Faceless Roman soldiers standing behind a pizza.">
                    <figcaption>perfect condition</figcaption>
                </figure>
                <div>
                    <h2>The Faceless Pie</h2>
                    <p>$20.00</p>
                    <p>The Ghost of Augustus</p>
                    <p>17 offers</p>
                </div>
            </section>
        </a>
        <a href="item.html" class="shop">
            <section class="vertical">
                <figure>
                    <img src="../../images/socialhour.jpg" alt="Two roman soldiers conversing in a black and white photo.">
                    <figcaption>priceless</figcaption>
                </figure>
                <div>
                    <h2>Social Hour</h2>
                    <p>$5.00 entry @ severus slices</p>
                    <p>severus slices</p>
                    <p>1364 offers</p>
                </div>
            </section>
        </a>
    </main>
<%- include('partials/footer.ejs') %>