<%- include('../partials/header.ejs') %>
    <main>
        <section>
            <form id="sellform" action='/users/login' method='POST'>
                <div id="formhead">
                    <h2>login</h2>
                </div>
                <p>
                    <label for="email">*email: </label>
                    <input type="email" name="email" id="email" required class="forminput">
                </p>
                <p>
                    <label for="password">*password: </label>
                    <input type="password" name="password" id="password" required class="forminput">
                </p>
                <input type="submit" value="submit" id="formsubmit">
            </form>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>